* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
}

.first-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

a{
    text-decoration: none;
    height: fit-content;
    transition: font-weight  0.15s;
}

a:hover {
    font-weight: 700;
}

#logo {
    width: 100px;
    border: none;
    border-radius: 10px;
}

.section-one {
    background-color: #1f2937;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    padding-top: 15px;
    border-top: 1px solid grey;
    flex-shrink: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}

.header-links {
    width: 200px;
    display: flex;
    height: fit-content;
    justify-content: space-around;
}

.blog-text, a {
    font-size: 18px;
    color: #e5e7eb;
}
.blog-text {
    width: 300px;
    font-weight: lighter;
    margin-top: 10px;
}

.first-sign {
    background-color: #3882f6;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    color: #e5e7eb;
    margin-top: 10px;
    font-weight: 600;

}
.first-sign:hover {
    cursor: pointer;
}

.profile-pic {
    margin-right: 120px;
}
#profile-pic {
   height: 200px;
    vertical-align: top;
    border-radius: 200px;
    border: 2px solid rgb(0, 0, 0);
}
.section-body {
   display: flex;
   justify-content: space-around;
   
}

.text {
  margin-left: 120px;

}
/* 

 */



h1 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}
.img-content1 {
    height: 200px;
    border-radius: 10px;
}
.img-content {
   height: 200px;
    border-radius: 10px;
}
.section-two {
    background-color: #e5e7eb;
    height: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.content-pic {
    display: flex;
}

.title {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}