* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

.first-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
a{
    text-decoration: none;
    height: fit-content;
    transition: font-weight  0.15s;
}

a:hover {
    font-weight: 700;
}

#logo {
    border: none;
    border-radius: 14px;
}
.section-one {
    background-color: #1f2937;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}
.header-links {
    width: 200px;
    display: flex;
    height: fit-content;
    justify-content: space-around;
}
.blog-text, a {
    font-size: 18px;
    color: #e5e7eb;
    opacity: 0.80;
}
.blog-text {
    width: 300px;
    font-weight: lighter;
    margin-top: 10px;
}
.first-sign {
    background-color: #3882f6;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    color: #e5e7eb;
    margin-top: 10px;
    font-weight: 600;

}
.first-sign:hover {
    cursor: pointer;
}
.profile-pic {
    margin-right: 120px;
}
#profile-pic {
   height: 200px;
    vertical-align: top;
    border-radius: 200px;
    border: 2px solid rgb(0, 0, 0);
}
.section-body {
   display: flex;
   justify-content: space-around;
   
}
.text {
  margin-left: 120px;

}
/* section 2*/
.content-two {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}
.img-content {
   height: 200px;
    border-radius: 10px;
}
.section-two {
    height: 400px;
    display: flex;
    flex-direction: column;
    padding-top:20px;
    flex-wrap: wrap;
    align-content: center;
}
.content-pic {
    display: flex;
    width: 800px;
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-between;
}
.title {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.photo-text {
    width: 150px;
}

/* section 3 */
.section-three {
    height: 270px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    background-color: #e5e7eb;
}
.quote {
    font-style: italic;
    font-size: 36px;
    font-weight: 200;
    color: #1f2937;
    width: 350px;
}

.author {
    font-size: 30px;
    font-weight: 700;
}

.author-div {
    display: flex;
    justify-content: end;
}
/* section 4 */

.section-four {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.back-color {
    background-color: #3882f6;
    width: 900px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}
#title {
    color: #f9faf8;
}

#description {
    color: #f9faf8;
    font-weight: normal;
    opacity: 0.80;

}
#sign-up {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    color: #f9faf8;
    font-size: 25px;
    border-radius: 10px;
}
#sign-up:hover {
    cursor: pointer;
}
.copyright {
    background-color: #1f2937;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

}
.copy {
    font-size: 15px;
    color: #f9faf8;
}